# This file is tracked by git
SECURITY NOTES

# .env.*.local files are local-only and can contain sensitive variables. You should add *.local to your .gitignore to avoid them being checked into git.

# Since any variables exposed to your Vite source code will end up in your client bundle, VITE_* variables should not contain any sensitive information.


VITE_PROTOCOL=http
VITE_HOST=localhost
VITE_SUPER_CLIENT_PORT=5173
VITE_SUPER_CORE_PORT=3001

VITE_APP_TITLE = LocalDevelop
VITE_COPYRIGHT = CompanyName
VITE_COMPANY_NAME = Our Company
VITE_CONTACT_EMAIL = contact@mailserver.com
VITE_CONTACT_ADDRESS_STREET = "123 St Somewhere"
VITE_CONTACT_ADDRESS_CITY_STATE_ZIP = "Utopia Utopia 1234567"
VITE_CONTACT_ADDRESS_COUNTRY = "Fantasia"
VITE_FAV_ICON_URL = "/logo.svg"